In [2]:
import sqlite3
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()
conexion.close()

In [5]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()
cursor.execute("CREATE TABLE estudiantes (email VARCHAR (100), carrera VARCHAR (100), nombre VARCHAR (100), edad INTEGER )")
conexion.close()

In [6]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()
cursor.execute("INSERT INTO estudiantes VALUES ('pandita@gmail.com','ingles', 'frida','22')")
conexion.commit()
conexion.close()

In [7]:
conexion = sqlite3.connect("ejemplo.db")
cursor= conexion.cursor()
cursor.execute ("SELECT * FROM estudiantes")
usuarios = cursor.fetchone()
print (usuarios)

('pandita@gmail.com', 'ingles', 'frida', 22)

In [8]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()
usuarios = [
    ('Rocio@gmail.com', 'Artes','Rocio', 27),
    ('Bety@gmail.com','Gastronomia','Beatriz',25),
('Aneliz@gmail.com', 'Matematicas','Ane', 20),
    ('Luii@gmail.com','Español','Luii',23),
('Arleth@gmail.com','Enfermeria','Istar',22)
    
    
]

cursor.executemany("INSERT INTO estudiantes VALUES (?,?,?,?)", usuarios)
conexion.commit()
conexion.close()

In [12]:
conexion = sqlite3.connect("ejemplo.db")

cursor = conexion.cursor()
cursor.execute("SELECT * FROM estudiantes")
usuarios = cursor.fetchall()

for u in usuarios:
    print(u)
    conexion.close()

('pandita@gmail.com', 'ingles', 'frida', 22)
('Rocio@gmail.com', 'Artes', 'Rocio', 27)
('Bety@gmail.com', 'Gastronomia', 'Beatriz', 25)
('Aneliz@gmail.com', 'Matematicas', 'Ane', 20)
('Luii@gmail.com', 'Español', 'Luii', 23)
('Arleth@gmail.com', 'Enfermeria', 'Istar', 22)